<link rel="stylesheet" href="/assets/components/footer/footer.css">
<div class="box-container">

    <div class="box">
        <h3>Mahfujar's Portfolio</h3>
        <p>Thank you for visiting my personal portfolio website. Connect with me over socials or <a href="#contact"
                style="display:inline; color: #ffae00; font-weight: 500;">Contact Form</a></p>
    </div>

    <div class="box">
        <h3>Quick Links</h3>
        <a href="/#home"><i class="fas fa-chevron-circle-right"></i> Home</a>
        <a href="/#about"><i class="fas fa-chevron-circle-right"></i> About</a>
        <a href="/#skills"><i class="fas fa-chevron-circle-right"></i> Skills</a>
        <a href="/#education"><i class="fas fa-chevron-circle-right"></i> Education</a>
        <a href="/#work"><i class="fas fa-chevron-circle-right"></i> Work</a>
        <a href="/#experience"><i class="fas fa-chevron-circle-right"></i> Experience</a>
    </div>

    <div class="box">
        <h3>Contact Info</h3>
        <p> <i class="fas fa-phone"></i><a href="tel:+8801887853463" style="display:inline;">+8801887853463</a></p>
        <p> <i class="fas fa-envelope"></i><a href="mailto:mahfujarrahmanjoy@gmail.com"
                style="display:inline;">mahfujarrahmanjoy@gmail.com</a></p>
        <p> <i class="fas fa-map-marked-alt"></i>Dhaka, Bangladesh</p>

        <div class="share">
            <a href="https://www.linkedin.com/in/mahfujarr" class="fab fa-linkedin" target="_blank"></a>
            <a href="https://github.com/mahfujarr" class="fab fa-github" target="_blank"></a>
            <a href="mailto:mahfujarrahmanjoy@gmail.com" class="fas fa-envelope" target="_blank"></a>
            <a href="https://x.com/mahfujar01" class="fab fa-twitter" target="_blank"></a>
            <a href="https://t.me/mahfujarr" class="fab fa-telegram-plane" target="_blank"></a>
        </div>
    </div>
</div>

<h1 class="credit">Designed with <i class="fa fa-heart pulse"></i> by <a href="https://github.com/mahfujarr"
        target=_blank>
        Mahfujar</a></h1>